<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 定义通知 -->
    <!-- 前置通知 -->
    <bean id="beforeLogAdvice" class="com.sully.advice.BeforeLogAdvice"/>
    <!-- 后置通知 -->
    <bean id="afterLogAdvice" class="com.sully.advice.AfterLogAdvice"/>
    <bean id="userServTarget" class="com.sully.biz.impl.UserServImpl"/>
    <!-- 代理类作用: 生成代理类，织入通知 -->
    <bean id="userServProxy"
          class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="interfaces">
            <!-- 可以添加多个接口 -->
            <list>
                <value>com.sully.biz.IUserServ</value>
            </list>
        </property>
        <!-- 引入通知 -->
        <property name="interceptorNames">
            <list>
                <value>beforeLogAdvice</value>
                <value>afterLogAdvice</value>
            </list>
        </property>
        <!-- 目标对象 -->
        <property name="target" ref="userServTarget"/>
    </bean>
</beans>